body {
    cursor: url('cursor_active.png') 22 28, auto;/* TODO: implement inactive cursor */
}

[data-type='LR'] { background-image: url('pipeLR.png'); }
[data-type='TB'] { background-image: url('pipeTB.png'); }
[data-type='TR'] { background-image: url('pipeTR.png'); }
[data-type='BR'] { background-image: url('pipeBR.png'); }
[data-type='BL'] { background-image: url('pipeBL.png'); }
[data-type='TL'] { background-image: url('pipeTL.png'); }

.setup td {
    background-image: none;
}

#pipeArea {
    text-align: center;
}
#pipeArea img { /* Weird HTML5 space hack */
    margin-bottom: -4px;
}
#pipeArea table {
    margin: 0 auto 1em auto;
}
#pipeArea tr:first-child > td:first-child {
    background: url('pipeStart.png') no-repeat left top;
    width: 94px;
}
#pipeArea tr:first-child > td:last-child {
    background: url('pipeEnd.png') no-repeat right bottom;
    width: 184px;
}
#pipeArea td {
    height: 50px;
    width: 50px;
    margin-bottom: 0;
    padding: 0;
    vertical-align: top;
}

.unconnected {opacity: 0.2;}
